<!-- /.container -->
<!-- Footer Kısmı => Sayfa En Alt Kısmı-->
<footer>
    <div class="py-5 bg-dark">
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5>
                    <strong class="text-white">Site Haritası</strong>
                </h5>
                <hr color="#FFFAF0" />
                <p>
                    <a href="/Home/About"> <i class="fas fa-info-circle"></i> Hakkımızda </a><br />
                    <a href="/Home/MostLiked"><i class="fas fa-wrench"></i> En Beğinilen </a><br />
                    <a href="/Home/Index"><i class="fas fa-list"></i> Son Yazılar </a><br />
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong class="text-white">My Articles</strong>
                </h5>
                <hr color="#FFFAF0" />
                <p class="m-0 text-center text-white">
                    Tüm Hakları Saklıdır<br />
                    &copy; My Articles @DateTime.Now.Year
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong class="text-white">E-Bülten</strong>
                </h5>
                <hr color="#FFFAF0" />
                <div class="col-md-10 col-md-offset-1">
                    <p class="m-0 text-center text-white">
                        Aşşağıya üyelik işleminizi başlatarak bize katılın...
                    </p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="e-posta adresiniz" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-paper-plane"></i> Gönder
                            </button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.container -->
</footer>