
@{
    ViewBag.Title = "Yetkisiz Erişim";
}

<div class="container text-center">

    <div class="row">
        <div class="col-md-1"></div>
        
        <div class="col-md-10">
            <br /><br />
            <h1><span class="fas fa-minus-circle"></span>Yetkisiz Erişim</h1>
            <br /><br />
            <p>
                <h4><b>Bu sayfaya erişim yetkiniz bulunmamaktadır.</b></h4>
                <br /><br />
                <a href="/Home/Index" class="btn btn-button btn-primary"><span class="fas fa-home"></span>Ana Sayfaya Git!</a>
            </p>
        </div>

    </div>
</div>